template(name='adminOrders')
	div.container-fluid.orders-div
		div.container-fluid.text-center.orders-panel
			span.orders-panel-label#orders-count NEW ORDERS : &nbsp;&nbsp;&nbsp; 
				strong #{newOrdersCount}
			span.orders-panel-label#delivery For Delivery : &nbsp;&nbsp;&nbsp;
				strong #{forDeliveryCount}
			span.orders-panel-label#completed Completed : &nbsp;&nbsp;&nbsp;
				strong #{completedCount}
			a(data-toggle='modal' data-ripple-color="#000" data-target='#archives-list')
				span.orders-panel-label Archives : &nbsp;&nbsp;&nbsp;
				strong #{archivesCount}

		div.list-group
			+each orders
				div.list-group-item
					div.row-action-primary
						span(class='#{type}')
					div.row-content
						div.action-secondary#view-order-list
							a(data-toggle='modal' data-ripple-color="#000" data-target='#orders-list').archive-link
								span.ion-ios-paper
						h6.name-h6.list-group-item-heading #{name} &nbsp;&nbsp;&nbsp;
							span
									i.ion-android-call
							span &nbsp;	#{phone} &nbsp;&nbsp;
							span
									i.ion-android-mail
							span &nbsp;	#{email} &nbsp;&nbsp;
							span
									i.ion-calendar
							span &nbsp;	#{createdAt} &nbsp;&nbsp;
						span $ #{amount} &nbsp;&nbsp;
				hr

	div.container-fluid.modal-div
		div.modal.backdrop.fade#orders-list
			div.modal-dialog
				div.modal-content
					div.modal-header
						button(type='button' data-dismiss='modal' aria-hidden='true').close
									span.ion-close-round
								h4.modal-title Order List Items
							div.modal-body
								br
								br
								div.module-div
									p Customer &nbsp; #{customer}
									hr
									+each items
										p
											span(class='#{type}')
											span.list-item-label #{name}
											span.list-item-label $ #{price}
											span.list-item-label #{size}
											span.list-item-label #{nic}
								br
								div.module-div
									+with profile
										p Shipping Address &nbsp;&nbsp;&nbsp; 
											span.ion-paper-airplane 
										hr
										p
											span.list-item-label #{address}
										p
											span.list-item-label #{city}
										p
											span.list-item-label #{state}, #{zip}

								br
								div.module-div
									+with billing
										p Billing Address &nbsp;&nbsp;&nbsp; 
											span.ion-paper-airplane 
										hr
										p
											span.list-item-label #{address}
										p
											span.list-item-label #{city}
										p
											span.list-item-label #{state}, #{zip}
								br
								div.module-div
									+with creditCardInfo
										p Credit Card Info &nbsp;&nbsp;&nbsp; 
											span.ion-card
										hr
										p
											span.list-item-label #{creditCard}
										p
											span.list-item-label #{cvc}
										p
											span.list-item-label #{expiration}
								
								a(type='button' data-dismiss='modal' aria-hidden='true').btn.btn-info#action #{action}

	// ARCHIVES MODAL
	div.container-fluid.modal-div
		div.modal.backdrop.fade#archives-list
			div.modal-dialog
				div.modal-content
					div.modal-header
						button(type='button' data-dismiss='modal' aria-hidden='true').close
									span.ion-close-round
								h4.modal-title ARCHIVES &nbsp;&nbsp;&nbsp; #{archivesCount}
							div.modal-body
								br
								br
								div.module-div
									+each archives
										p
											span.archive-label #{name}
											span.archive-label #{phone}
											span.archive-label #{email}
											span.archive-label $ #{amount}
										p
											span.archive-label #{createdAt}
										hr