template(name='adminEjuice')
	div.container-fluid.text-center.admin-body-div

		// ADD
		div.col-lg-4
			div.panel.panel-info
				div.panel-heading
					h5.panel-title 
						span.ion-plus-round
						span ADD
				div.panel-body
					div.module-div
						p Add E-Juice to Store
						hr
						+autoForm id='insertEjuiceForm' type='insert' collection='Ejuices'
							+afQuickField name='name' placeholder='Name'
							+afQuickField name='desc' placeholder='Description'
							+afQuickField name='imgId' type='cfs-file' collection='ejuice-images'
							button(type='submit').btn.btn-info
								span.ion-plus &nbsp;&nbsp;&nbsp;
								span 
									strong Add E - Juice
						
					span.ion-ios-more.divider
					div.module-div
						p Add Bottle Size & Price
						hr
						+autoForm id='insertSizeForm' type='insert' collection='BottleSizes'
							+afQuickField name='size' placeholder='Bottle Sizes in ml'
							+afQuickField name='price' placeholder='Set Price'
							button(type='submit').btn.btn-info
								span.ion-plus &nbsp;&nbsp;&nbsp;
								span 
									strong Add Bottle Size

						
					span.ion-ios-more.divider
					div.module-div
						p Add Nicotine Levels
						hr
						+autoForm id='insertNicotineForm' type='insert' collection='NicotineLevels'
							+afQuickField name='level' placeholder='Nicotine Level in mg'
							
							button(type='submit').btn.btn-info
								span.ion-plus &nbsp;&nbsp;&nbsp;
								span 
									strong Add Nicotine Level

		// EDIT
		div.col-lg-4
			div.panel.panel-primary
				div.panel-heading
					h5.panel-title 
						span.ion-edit
						span EDIT
				div.panel-body
					// INFO
					div.module-div
							p Edit E-Juice Info
							hr
							br
							input(type='text' placeholder='Name').form-control#edit-ejuice-name
							input(type='text' placeholder='Description').form-control#edit-ejuice-desc
							br
							button.btn.btn-primary#prev-ejuice-btn
								span.ion-ios-arrow-back
							button.btn.btn-primary#save-ejuice-btn SAVE
							button.btn.btn-primary#next-ejuice-btn
								span.ion-ios-arrow-forward
					span.ion-ios-more.divider
					// SIZES
					div.module-div
							p Edit Bottle Size & Price
							hr
							div.col-md-2
								label(for='edit-bottle-size').control-label Size
							div.col-md-10
								input(type='text' placeholder='Name').form-control#edit-bottle-size
							br
							div.col-md-2
								label(for='edit-bottle-price').control-label Price
							div.col-md-10
								input(type='text' placeholder='Description').form-control#edit-bottle-price
							br
							button.btn.btn-primary#prev-size-btn
								span.ion-ios-arrow-back
							button.btn.btn-primary#save-size-btn SAVE
							button.btn.btn-primary#next-size-btn
								span.ion-ios-arrow-forward

		// REMOVE
		div.col-lg-4
			div.panel.panel-danger
				div.panel-heading
					h5.panel-title 
						span.ion-close-round
						span REMOVE
				div.panel-body
					//EJUICE
					div.module-div
						p 
							span E-Juice Flavors &nbsp;&nbsp;&nbsp;	
							span #{ejuiceCount} items

						hr
						+each ejuice
							div.ejuice-remove-list
								span.pull-left #{name}
								span.pull-right#remove-ejuice-admin-list
									i.fa.fa-trash-o
								br
					span.ion-ios-more.divider
					// BOTTLE SIZE
					div.module-div
						p Bottle Size & Price
						hr
						+each sizes
							div.ejuice-remove-list
								span.pull-left #{size} ml &nbsp;&nbsp;&nbsp;
								span.pull-left $ #{price}
								span.pull-right#remove-size-admin-list
									i.fa.fa-trash-o
								br
					span.ion-ios-more.divider
					// NICOTINE LEVEL
					div.module-div
						p Nicotine Levels
						hr
						+each nic
							div.ejuice-remove-list
								span.pull-left #{level} mg
								span.pull-right#remove-nic-admin-list
									i.fa.fa-trash-o
								br

