template(name='ejuiceTemp')
	
	div.container-fluid.text-center.ejuice-temp-div
		
		div.col-md-4.img-name-price
			span.ion-android-arrow-back.pull-left#back-to-ejuice
			+with image
				img(src='#{url}' style='width:50%; height:50%')
			
			h4.name-label-temp #{name} &nbsp; 
				strong $ #{price}
			hr
		div.col-md-5.ejuice-widget
			p.small-label DESCRIPTION
			p.desc-temp #{desc}
			hr
			p.small-label SIZE &nbsp; | &nbsp; 
				strong ml
			+each bottleSizes
				span.fa-stack.fa-lg.size-btn
					i.fa.fa-square.fa-stack-2x.i-square
					p.fa-stack-1x.small-number #{size}
			
			hr
			p.small-label NICOTINE LEVEL &nbsp; | &nbsp;
				strong mg
			+each nicotineLevels
				span.fa-stack.fa-lg.nic-btn
					i.fa.fa-square.fa-stack-2x.i-square
					p.fa-stack-1x.small-number #{level}
			hr
			button.btn.btn-material-purple-800.up-animate#add-to-cart-ejuice
				i.fa.fa-plus &nbsp; add to cart
