template(name='cart')
	div.container-fluid.cart-div.up-animate
		div.list-group
			each cartItems
				div.list-group-item
					div.row-action-primary
						span(class='#{type}')
					div.row-content
						div.action-secondary#trash
							span.ion-ios-minus
						h6.name-h6.list-group-item-heading #{name}
						span $ #{price} &nbsp;&nbsp;
						span #{size} &nbsp;&nbsp;
						span #{nic} &nbsp;
				hr
	if cartNotEmpty

		div.container-fluid.total-div.text-center.up-animate
			p.total-label
				span.pull-left Subtotal:  
				span.pull-right
					strong $ #{subtotal}
			br
			p.total-label
				span.pull-left Tax (8%):  
				span.pull-right
					strong $ #{tax}
			br
			p.total-label
				span.pull-left Total: 
				span.pull-right
					strong $ #{total}

		div.container-fluid.text-center.checkout-div
			button.btn.btn-material-purple-800.up-animate#checkout PAY ON PICK UP &nbsp;&nbsp;
				span.ion-bag
		p.or.text-center OR
		div.container-fluid.text-center
			img(src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif').paypal

	else
		div.container-fluid.text-center.empty-cart
			h5 YOUR CART IS EMPTY
			span.ion-ios-cart-outline
			H5 GET YOUR VAPE NOW!
		div.container-fluid.text-center.up-animate
			a(href='/ejuice').btn.btn-material-purple-800 E-JUICE
			a(href='/mods').btn.btn-material-purple-800 MODS